.company-hero-wrapper {
    width: 100vw;
    height: 100svh;
    z-index: 5;
    overflow: hidden;
    .company-bg {
        position: absolute;
        width: 100%;
        height: 100svh;
        inset: 0;
        z-index: 1;
        img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: start; //start
            // transform: scaleX(-1);
            z-index: 1;
        }
        &--bottom {
            img {
                object-position: bottom;
            }
        }
        &--top {
            img {
                object-position: top;
            }
        }
        &--right {
            img {
                object-position: right;
            }
        }
        .black-overlay {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100svh;
            background-color: #000;
            z-index: 2;
            opacity: 0.3;
        }
    }
    .company-hero-inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: end;
        .company-title-div {
            position: relative;
            width: 100vw;
            z-index: 2;
            margin: 0 3% 160px 292px; //264
            @media screen and (max-width: 1440px) {
                margin: 0 3% 100px 195px;
            }
            @media screen and (max-width: 1340px) {
                margin: 0 3% 100px 172px;
            }
            @media screen and (max-width: 820px) {
                margin: 0 3% 100px 30px;
            }
            @media screen and (max-width: 540px) {
                margin: 19% 20px;
            }
            .title-wrapper {
                position: relative;
                overflow: hidden;
                h1 {
                    opacity: 1;
                    color: #fff;
                    margin: 0;
                    transform: translateY(100%);
                    position: relative;

                    @media screen and (max-width: 1280px) {
                        bottom: 5%;
                        left: 0;
                    }
                    @media screen and (max-width: 820px) {
                        bottom: 0;
                        left: 0;
                    }
                }
            }
            .company-scroll-div {
                opacity: 0;
                display: flex;
                align-items: start;
                gap: 8px;
                color: #fff;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 1;
                line-height: 18px;
                position: absolute;
                bottom: 24px;
                right: 0;
                margin-right: 18%;
                    // .scroll-dot {
                    //     width: 5px;
                    //     height: 5px;
                    //     border-radius: 5px;
                    //     margin-top: 4px;
                    //     background-color: #fff;
                    // }
                @media screen and (max-width: 1600px) {
                    margin-right: 15%;
                }
                @media screen and (max-width: 1300px) {
                    margin-right: 14%;
                }
                @media screen and (max-width: 1080px) {
                    margin-right: 12%;
                }
            }
            .scroll-down {
                position: absolute;
                bottom: 6px;
                right: 0;
                margin-right: calc(18% - 50px);
                    // .scroll-dot {
                    //     width: 5px;
                    //     height: 5px;
                    //     border-radius: 5px;
                    //     margin-top: 4px;
                    //     background-color: #fff;
                    // }
                @media screen and (max-width: 1600px) {
                    margin-right: calc(15% - 50px);
                }
                @media screen and (max-width: 1300px) {
                    margin-right: calc(14% - 50px);
                }
                @media screen and (max-width: 1080px) {
                    margin-right: calc(12% - 50px);
                }
                @media screen and (max-width:480px) {
                    right: -15px;
                }
                .scroll-button {
                    cursor: pointer;
                    overflow: hidden;
                    // transition: transform 0.3s ease-out;
                    will-change: transform;
                    font-size: 11px;
                    font-weight: 600;
                    letter-spacing: 2px;
                    margin-bottom: 20px;
                    color: #fff;
                    text-transform: uppercase;
                    padding: 6px 0;
                    width: 120px;
                    text-align: center;
                    transform: rotate(270deg);
                    // border: solid $accent 1px;
                    transition: color 0.3s ease-out, background 0.3s ease-out;
                    @media screen and (max-width: 425px) {
                        font-size: 10px;
                    }
                    // &:hover {
                    //     color: #000;
                    //     // font-weight: 500;
                    //     background: #fff;
                    //     // background: $accent;
                    // }
                }
                // .vertical-line-wrapper {
                //     // position: absolute;
                //     background-color: #780c0c;
                //     height: 100px;
                //     overflow: hidden !important;
                // }
                .vertical-line {
                    position: absolute;
                    top: calc(50% + 46px);
                    left: calc(50% - 1px);
                    width: 1px;
                    height: 0px;
                    border-radius: 1px;
                    background: #fff;
                }                  
            }
        }
    }
}