.our-process-wrapper {
    width: 100vw;
    // min-height: 100vh;
    background-color: #F4F4F4;
    color: #000;
    @media screen and (max-width:480px) {
        min-height: 0%;
        // padding: 60px 30px 60px 30px; 
    }
    .section-divider-line {
        width: 0;
        height: 1px;
        background-color: #00000050;
    }
    .our-process-inner {
        position: relative;
        width: 100%;
        // min-height: 100vh; //???
        padding: 80px 62px 80px 50px;
        display: flex;
        flex-direction: column;
        gap: 84px;
        justify-content: center;
        @media screen and (max-width:1440px) {
            padding: 60px 62px 85px 30px;
            gap: 24px;
        }
        @media screen and (max-width:768px) { // WORKING
            padding: 30px 30px 40px 30px;
        }
        @media screen and (max-width: 768px) {
            padding: 40px 20px 50px 20px;
        }
        .section-side-heading {
            opacity: 0;
            position: absolute;
            top: 98px;
            left: 50px;
            display: flex;
            align-items: start;
            gap: 8px;
            font-size: 18px;
            @media screen and (max-width:1440px) {
                top: 68px;
            }
            .heading-dot {
                width: 5px;
                height: 5px;
                border-radius: 4px;
                margin-top: 6px;
                background-color: #000;
            }
        }
        .our-process-title {
            font-weight: 100;
            text-align: center;
            letter-spacing: -0.4px;
            margin: 0 0;
            padding: 0 0;
            font-size: 58px;
            line-height: 0;
            @media screen and (max-width:1440px) {
                font-size: 52px;
                line-height: 58px;
            }
        }
        .our-process-main {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            gap: 29px;
            @media screen and (max-width:1440px) {
                gap: 24px;
            }
            @media screen and (max-width: 1080px) {
                gap: 14px;
            }
            @media screen and (max-width:480px) {
                gap: 15px;
                flex-direction: column;
            }
            @media screen and (max-width:480px) {
                align-items: center;
            }
            .our-process {
                // background: url("/public/assets/interior/interior-process.jpg"); 
                position: relative;
                z-index: 1;
                width: 360px;
                height: 554px;
                // border: solid #44444460 0.3px; 
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 28px; //45px 
                overflow: hidden;
                z-index: 1;
                @media screen and (max-width:1440px) {
                    padding: 22px; //38px 
                    height: 500px;
                }
                @media screen and (max-width: 1080px) {
                    height: 430px;
                }
                @media screen and (max-width: 870px) {
                    height: 365px;
                }
                @media screen and (max-width: 768px) { // WORKING
                    height: 330px;
                }
                @media screen and (max-width:576px) {
                    height: 255px;
                }
                @media screen and (max-width:480px) {
                    height: 285px;
                    width: 100%;
                }

                .interior-bg {
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        // opacity: 0;
                        object-fit: cover;
                    }
                    &--right {
                        // height: 50%;
                        img {
                            object-position: center;
                        }
                    }
                }
                .bg-black-overlay {
                    z-index: 2;
                    position: absolute;
                    width: 100%;
                    height: 30%;
                    bottom: 0;
                    left: 0;
                    // background: linear-gradient(
                    //     to top,
                    //     rgba(0,0,0,0.95) 0%,
                    //     rgba(0,0,0,0.7) 40%,
                    //     rgba(0,0,0,0.3) 70%,
                    //     rgba(0,0,0,0) 100%
                    // );
                    background: linear-gradient(
                        to top,
                        rgba(0,0,0,0.7) 0%,
                        rgba(0,0,0,0.5) 40%,
                        rgba(0,0,0,0.2) 70%,
                        rgba(0,0,0,0) 100%
                    );
                    &--low-opacity {
                        background: linear-gradient(
                            to top,
                            rgba(0,0,0,0.5) 0%,
                            rgba(0,0,0,0.3) 40%,
                            rgba(0,0,0,0.1) 70%,
                            rgba(0,0,0,0) 100%
                        );
                    }
                }
                .process-step {
                    font-size: 16px;
                    @media screen and (max-width:1440px) {
                        font-size: 14px;
                    }
                }
                .process-title {
                    // background-color: #fff;
                    // margin-bottom: -12px;
                    font-size: 32px; //46px
                    z-index: 3;
                    // line-height: 42px;
                    font-weight: 100;
                    color: #fff;
                    // color: $primary;
                    // text-shadow: 2px 2px 4px #00000030; 
                    transition: opacity 0.7s ease-in-out;
                    @media screen and (max-width:1440px) {
                        font-size: 28px;
                        // line-height: 38px;   
                    }
                    @media screen and (max-width:576px) {
                        font-size: 15px;
                    }
                    @media screen and (max-width:480px) {
                        font-size: 25px;
                    }
                }
                .process-overLTitle {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 28px;
                    font-size: 32px;
                    font-weight: 100;
                    color: #fff;
                    opacity: 0;
                    transition: opacity 0.5s ease-in-out;
                    z-index: 2;
                    @media screen and (max-width:1440px) {
                        font-size: 28px;
                        // line-height: 46px;
                        padding: 22px;
                    }
                }
                .process-overLPara {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 28px;
                    font-size: 20px;
                    color: #fff;
                    opacity: 0;
                    transition: opacity 0.5s ease-in;
                    z-index: 2;
                    @media screen and (max-width:1440px) {
                        font-size: 16px;
                        line-height: 18px;
                        padding: 22px;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 0;
                    z-index: 1;
                    pointer-events: none;
                    background-color: $primary; //222222
                    transition: height 0.3s ease-in;
                    // transform-origin: end;
                }
                // &:hover {
                //     // .process-step {
                //     //     transform: translateY(-100%)
                //     // }
                //     .process-title {
                //         opacity: 0;
                //     }
                //     &::before {
                //         height: 100%;
                //     }
                //     .process-overLTitle, .process-overLPara {
                //         opacity: 1;
                //     }
                // }
            }
        }
    }
}