#whatsapp-chat {
    box-sizing: border-box !important;
    outline: none !important;
    position: fixed;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
    bottom: 90px;
    left: 30px; //30px
    overflow: hidden;
    z-index: 99;
    animation-name: showchat;
    animation-duration: 1s;
    transform: scale(1);
    @media screen and (max-width: 480px) {
        left: 20px;
    }
    * {
        font-weight: 500;
    }
}

#whatsapp-chat,
.whatsappchat {
    * {
        font-family: var(--bs-font-sans);
        font-size: 14px;
        font-weight: 400;
        @media screen and (max-width: 1080px) {
            font-size: 12px;
        }
    }
}

.whatsappchat {
    /*   background: #009688; */
    background: #fff;
    color: #404040;
    position: fixed;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    z-index: 98;
    bottom: 30px;
    left: 30px;
    font-size: 14px;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 1px 15px #20212447;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    &:hover {
        opacity: 0.9;
        transform: scale(0.9);
    }
    @media screen and (max-width: 1080px) {
        bottom: 20px;
        padding: 8px 16px;
        font-size: 12px;
        gap: 7px;
    }
    @media screen and (max-width: 480px) {
        padding: 0;
        // bottom: 20px;
        left: 20px;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    span {
        @media screen and (max-width: 480px) {
            display: none;
        }
    }
    &.normal {
        position: relative;
        inset: unset !important;
        opacity: 1;
        display: inline-flex;
        box-shadow: none !important;
        border: 1px solid var(--bs-border-color);
    }
}
.whatsappchat svg {
    width: 1rem;
    height: 1rem;
    @media screen and (max-width: 1080px) {
        width: 0.9rem;
        height: 0.9rem;
    }
}
.header-chat {
    // background: #075e54;
    background: var(--bs-primary);
    color: #fff;
    padding: 15px;
}
.header-chat h3 {
    margin: 0 0 10px;
}
.header-chat p {
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
}
.info-avatar {
    position: relative;
}
.info-avatar img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
}

a.informasi {
    padding: 20px;
    display: block;
    overflow: hidden;
    animation-name: showhide;
    animation-duration: 0.5s;
}
a.informasi:hover {
    background: #f1f1f1;
}
.info-chat span {
    display: block;
}

.start-chat .blanter-msg {
    display: flex;
}
.blanter-msg {
    width: 100%;
    display: flex;
    position: relative;
    z-index: 111;
    &-btn {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        // background-color: #075e54;
        background-color: var(--bs-primary);
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;
        /* margin: 30px; */
        /* margin-bottom: -2px; */
        margin-top: 20px;
    }
}
.head-home {
    display: flex;
    align-items: center;
}
.close-chat {
    position: absolute;
    top: 20px;
    right: 15px;
    color: #fff;
    font-size: 30px;
    background-color: transparent;
    margin: 0;
}

@media screen and (max-width: 480px) {
    #whatsapp-chat {
        width: 80%;
        left: 5%;
        right: 5%;
        font-size: 80%;
    }
}
.whatsapp-chat.hide {
    display: none;
    animation-name: showhide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: scale(1);
    opacity: 1;
}
.whatsapp-chat.show {
    display: block;
    animation-name: showhide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: scale(1);
    opacity: 1;
}
@keyframes showhide {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
}
@keyframes showchat {
    from {
        opacity: 0;
    }
}

.whatsapp-message-container {
    display: flex;
    z-index: 1;
}

.whatsapp-message {
    padding: 7px 14px 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 8px 8px;
    position: relative;
    transition: all 0.3s ease 0s;
    opacity: 0;
    transform-origin: center top 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
    margin-top: 4px;
    margin-left: -54px;
    max-width: calc(100% - 66px);
}

.whatsapp-chat-body {
    padding: 15px;
    background-color: rgb(230, 221, 212);
    position: relative;
    &::before {
        display: block;
        position: absolute;
        content: "";
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: 0.08;
        background-image: url(/assets/images/whatsapp-pattern.png);
        background-repeat: repeat;
    }
}

.dAbFpq {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.kAZgZq {
    padding: 7px 14px 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 8px 8px;
    position: relative;
    transition: all 0.3s ease 0s;
    opacity: 0;
    transform-origin: center top 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
    margin-top: 4px;
    margin-left: 0;
    max-width: calc(100% - 66px);
    &::before {
        position: absolute;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        top: 0px;
        left: -12px;
        width: 12px;
        height: 19px;
    }
}

.bMIBDo {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
}

.iSpIQi {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
    color: rgb(17, 17, 17);
}

.iSpIQi {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
    color: rgb(17, 17, 17);
}
