$primary: #00a651;
$accent: #231f20;

// font
$font-family-sans-serif: "jules-font", -apple-sytem, Roboto, sans-serif;
$headings-font-family: "jules-font", -apple-sytem, Roboto, sans-serif;

$headings-font-weight: 300;
$headings-color: #1c1d1f;
$display-font-weight: 300;
$headings-line-height: 1.1;
$link-decoration: none;
$paragraph-margin-bottom: 0px;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px,
    xxxl: 1600px,
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1200px,
    xxxl: 1500px,
);

$lead-font-size: 1.25rem;
$lead-font-weight: 400;

$accordion-button-active-bg: transparent;
$accordion-bg: transparent;
$accordion-border-radius: 0;
$accordion-button-active-color: $primary;

$dropdown-border-radius: 0px;
$modal-content-border-radius: 0px;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$body-bg: #f9f8f4;
$body-color: #212529bf;

$custom-colors: (
    "accent": $accent,
    "beige": #f5f5dc,
);

@import "bootstrap/scss/bootstrap";
@import "./common";
@import "./components/index";

// FONTS IMPORT
// heading
@font-face {
    font-family: 'jules-font';
    src: url('../fonts/jules/jules.woff2') format('woff2'),
        url('../fonts/jules/jules.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
// Hero font
@font-face {
    font-family: 'didot-font';
    src: url('../fonts/didot/didot.woff2') format('woff2'),
        url('../fonts/didot/didot.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// body
// IvyPresto: Headline & Display not good, Text looks good
@font-face {
    font-family: 'IvyPresto Headline font';
    src: url('../fonts/ivy/IvyPrestoHeadline-Thin.woff2') format('woff2'),
        url('../fonts/ivy/IvyPrestoHeadline-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IvyPresto Headline font';
    src: url('../fonts/ivy/IvyPrestoHeadline-Light.woff2') format('woff2'),
        url('../fonts/ivy/IvyPrestoHeadline-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IvyPresto Headline font';
    src: url('../fonts/ivy/IvyPrestoHeadline-BoldItalic.woff2') format('woff2'),
        url('../fonts/ivy/IvyPrestoHeadline-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'IvyPresto Headline font';
    src: url('../fonts/ivy/IvyPrestoHeadline-SemiBold.woff2') format('woff2'),
        url('../fonts/ivy/IvyPrestoHeadline-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'IvyPresto Display';
//     src: url('../fonts/ivy/IvyPrestoDisplay-ThinItalic.woff2') format('woff2'),
//         url('../fonts/ivy/IvyPrestoDisplay-ThinItalic.woff') format('woff');
//     font-weight: 100;
//     font-style: italic;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'IvyPresto Display';
//     src: url('../fonts/ivy/IvyPrestoDisplay-LightItalic.woff2') format('woff2'),
//         url('../fonts/ivy/IvyPrestoDisplay-LightItalic.woff') format('woff');
//     font-weight: 300;
//     font-style: italic;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'IvyPresto Display';
//     src: url('../fonts/ivy/IvyPrestoDisplay-BoldItalic.woff2') format('woff2'),
//         url('../fonts/ivy/IvyPrestoDisplay-BoldItalic.woff') format('woff');
//     font-weight: bold;
//     font-style: italic;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'IvyPresto Display';
//     src: url('../fonts/ivy/IvyPrestoDisplay-SemiBoldItalic.woff2') format('woff2'),
//         url('../fonts/ivy/IvyPrestoDisplay-SemiBoldItalic.woff') format('woff');
//     font-weight: 600;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'IvyPresto Text';
//     src: url('../fonts/ivy/IvyPrestoText-Thin.woff2') format('woff2'),
//         url('../fonts/ivy/IvyPrestoText-Thin.woff') format('woff');
//     font-weight: 100;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'IvyPresto Text';
//     src: url('../fonts/ivy/IvyPrestoText-Light.woff2') format('woff2'),
//         url('../fonts/ivy/IvyPrestoText-Light.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'IvyPresto Text';
//     src: url('../fonts/ivy/IvyPrestoText-Bold.woff2') format('woff2'),
//         url('../fonts/ivy/IvyPrestoText-Bold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'IvyPresto Text';
//     src: url('../fonts/ivy/IvyPrestoText-SemiBold.woff2') format('woff2'),
//         url('../fonts/ivy/IvyPrestoText-SemiBold.woff') format('woff');
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }




.form-control:not([type="file"]),
.form-select:not([type="file"]) {
    padding-left: 0px;
}

.form-control::file-selector-button,
.form-select::file-selector-button {
    border: none;
    background-color: hsl(0, 0%, 88%);
    color: #131337;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    margin-right: 1em;
}

.invalid-feedback {
    letter-spacing: 0.5px;
    color: darkred;
}

.project-page {
    position: relative;
}