.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    --logo-width: 200px;
    color: #000;
    transition: all 0.3s ease-in-out;
    @media screen and (max-width:1440px) {
        --logo-width: 110px;
    }
    @media screen and (max-width:576px) {
        --logo-width: 80px;
    }
    @media screen and (max-width:480px) {
        --logo-width: 60px;
    }
    // border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
}

.header-wrapper {
    padding: 50px;
    display: flex;
    justify-content: center;
    @media screen and (max-width:1440px) {
        padding: 25px 30px;
    }
    @media screen and (max-width:768px) {
        padding: 30px;
    }
}

.header-logo {
    width: var(--logo-width);
    height: auto;
    transition: width 0.3s ease-in-out;
    a,
    img {
        width: 100%;
        height: auto;
    }
}

.header-actions,
.header-menu {
    width: calc(calc(100% - var(--logo-width)) / 2);
}

.header-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    // height: 100%;
    a {
        color: currentColor;
        letter-spacing: 1px;
    }
}

.header-menu > ul {
    display: flex;
    gap: 1.5em;
    a {
        text-transform: uppercase;
    }
}

.header-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: fit-content;
    display: none;
}

.has-children.header-menu-item {
    position: relative;
}

.header-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.header-menu-link {
    position: relative;
}

a.header-menu-link::after {
    display: none;
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: 100%;
    background: currentColor;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
}

.active.header-menu-item a.header-menu-link::after {
    display: block;
}

section.hero {
    min-height: 660px;
}

.header-actions {
    display: flex;
    align-items: flex-start;
}

.header-call-action {
    color: currentColor;
    font-size: 1rem;
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    font-weight: 400;
    letter-spacing: 2px;
    @media screen and (max-width:576px) {
        font-size: 0.9rem;
    }
    @media screen and (max-width:480px) {
        font-size: 0.6rem;
        gap: 0.5rem;
    }
    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    &:hover {
        // color: var(--bs-primary);
        svg {
            color: currentColor;
        }
    }
}

.farms-slider-container {
    position: relative;
}

body:not(.hero-anim) .header.fixed {
    background: white;
    box-shadow: 1px 1px 20px #00000005;
    color: #585a5c;
    --logo-width: 170px;
    .header-actions{
        align-items: center;
    }
    .header-menu{
        align-items: center;
    }
    .header-wrapper {
        padding: 25px 50px;
        @media screen and (max-width:1440px) {
            padding: 15px 50px;
        }
        @media screen and (max-width:768px) {
            padding: 15px 15px;
        }
    }
}

.header-menu-toggle {
    // color: black;
    color: var(--bs-primary);
    background: transparent;
    display: flex;
    gap: 1rem;
    line-height: 1;
    align-items: center;
}

.header-menu-toggle-text {
    color: black;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.header-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.header-menu-toggle-lines {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    transition: all 0.15s ease-in-out;
}

.header-menu-toggle-lines span {
    width: 50px;
    height: 1px;
    background: currentColor;
    transition: all 0.15s ease-in-out;
    transition-delay: 0.15s;
}

.header-menu-toggle.active,
.header-menu-toggle:hover {
    .header-menu-toggle-lines {
        gap: 0px;
        span {
            width: 80px;
        }
    }
}

.header-menu-link {
    font-family: var(--bs-headings-font-family);
    font-weight: 600;
    font-size: 1rem;
}

.menu .header-menu-toggle {
    position: absolute;
    top: 50px;
    right: 50px;
    color: white;
}
