.interior-portfolio-wrapper {
    width: 100vw;
    // min-height: 100vh;
    background-color: #F4F4F4;
    color: #000;
    .interior-portfolio-inner {
        position: relative;
        width: 100%;
        padding: 120px 0 120px 50px;
        display: flex;
        flex-direction: column;
        gap: 84px;
        justify-content: center;
        @media screen and (max-width:1440px) {
            padding: 60px 0 60px 30px;
        }
        @media screen and (max-width: 745px) {
            padding: 60px 30px 60px 30px;
            gap: 40px;
        }
        @media screen and (max-width: 530px) {
            padding: 60px 20px 60px 20px;
        }
        .title-wrapper {
            width: 100%;
            h2 {
                text-align: center;
                margin: 0 0;
                padding: 0 0;

                // letter-spacing: -0.4px;
                // font-weight: 100;
                // font-size: 58px;
                // line-height: 0;
                // @media screen and (max-width:1440px) {
                //     font-size: 52px;
                //     line-height: 58px;
                // }
                // @media screen and (max-width:745px) {
                //     font-size: 38px;
                //     line-height: 1.2;
                // }
            }
        }
        .interior-portfolio-main {
            height: 100svh;
            // min-height: 598px;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            @media screen and (max-width: 745px) {
                height: auto;
                justify-content: center;
            }
            .main-left {
                flex: 1;
                // background: #000;
                height: 95%;
                padding: 0 0 20px 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;                
                width: fit-content;
                @media screen and (max-width: 745px) {
                    gap: 60px;
                    align-items: center;
                    flex: none;
                    width: 80%;
                }
                @media screen and (max-width: 630px) {
                    width: 90%;
                }
                @media screen and (max-width: 500px) {
                    width: 100%;
                    align-items: start;
                }
                .numbers {
                    width: fit-content;
                    border-top: solid #44444460 0.3px;
                    @media screen and (max-width: 745px) {
                        border-top: none;
                        border-left: solid #44444460 0.3px;
                        padding-left: 20px;
                    }
                    .number-plus {
                        display: flex;
                        align-items: start;
                        padding-top: 30px;
                        @media screen and (max-width: 745px) {
                            padding-top: 0;
                        }
                        .num {
                            font-size: 180px;
                            font-weight: 600;
                            line-height: 1;
                            @media screen and (max-width:1440px) {
                                font-size: 140px;
                            }
                        }
                        .plus {
                            // margin-top: -30px;
                            font-weight: 600;
                            font-size: 20px;
                            @media screen and (max-width:1440px) {
                                font-size: 16px;
                            }
                        }
                    }
                    p {
                        font-size: 18px;
                    }
                }
                .portfolio-paras {
                    max-width: 540px;
                    @media screen and (max-width:1180px) {
                        max-width: 38vw;
                    }
                    @media screen and (max-width:800px) {
                        max-width: 45vw;
                    }
                    @media screen and (max-width: 745px) {
                        max-width: 90vw;
                    }

                    .details-subheading {
                        font-weight: 500;
                        @media screen and (max-width: 745px) {
                            text-align: center;
                        }
                        @media screen and (max-width: 500px) {
                            width: 100%;
                            text-align: start;
                        }
                    }
                    .details-para {
                        margin-top: 23px;
                        @media screen and (max-width: 745px) {
                            text-align: center;
                        }
                        @media screen and (max-width: 500px) {
                            width: 100%;
                            text-align: start;
                        }
                        // font-size: 18px;
                        // line-height: 1.1;
                        // @media screen and (max-width:1000px) {
                        //     font-size: 15px;
                        // }
                    }
                }
                // button {
                //     width: fit-content;
                //     border: solid 0.3px #44444460;
                //     // opacity: 0;
                //     transform: translateY(110%);
                //     // transition: opacity 0.3s ease-in, transform 0.3s ease-in;
                //     color: #000;
                //     transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
                //     padding: 6px 18px;
                //     border-radius: 999px;
                //     text-transform: uppercase;
                //     display: flex;
                //     align-items: center;
                //     position: relative;
                //     overflow: hidden;
                //     z-index: 1;
                //     span {
                //         z-index: 2;
                //         font-size: 15px;
                //         font-weight: 500;
                //         letter-spacing: 0.3px;
                //         @media screen and (max-width: 1440px) {
                //             font-size: 13px;
                //             font-weight: 500;
                //         }
                //     }
                //     svg {
                //         margin-left: 12px;
                //         z-index: 2;
                //         width: 18px;
                //         height: 18px;
                //         @media screen and (max-width: 1440px) {
                //             width: 15px;
                //             height: 15px;
                //         }
                //     }
                //     &::before {
                //         z-index: 1;
                //         content: "";
                //         position: absolute;
                //         width: 105%;
                //         height: 105%;
                //         inset: 0;
                //         background-color: #000;
                //         transform: translateY(100%);
                //         clip-path: inset(100% 0% 0%);
                //         transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
                //     }
                //     &:hover {
                //         color: #fff;
                //         &::before {
                //             transform: translateY(0);
                //             clip-path: inset(0% 0% 0%);
                //         }
                //     }
                // }
                .read-more-link {
                    opacity: 0;
                    visibility: hidden;
                    margin-bottom: 20px;
                    p {
                        color: #000;
                    }
                    .svg-wrapper {
                        svg {
                            path {
                                stroke: #000;
                            }
                        }
                    }
                }
            }
            .main-right {
                flex: 1;
                // width: 100%;
                display: flex;
                justify-content: end;
                @media screen and (max-width: 745px) {
                    display: none;
                }
                .portfolio-img-wrapper {
                    width: 100%;
                    // @media screen and (max-width: 745px) {
                    //     width: 100%;
                    //     height: 170px;
                    // }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
}