.projects-wrapper {
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    padding: 120px 10px 180px 10px;
    @media screen and (max-width: 1024px) {
        padding: 80px 10px 120px 10px;
    }
    @media screen and (max-width:768px) {
        padding: 60px 10px 100px 10px;
    }

    .projects-title-subtitle {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: "30px";
        color: $accent;

        // .projects-para {
        //     // text-align: "start";
        //     text-transform: uppercase;
        //     font-weight: 700;
        //     font-size: 14px;
        //     letter-spacing: 0.8px;
        //     opacity: 0.7;

        //     @media screen and (max-width: 1440px) {
        //         font-size: 11px;
        //     }
        // }

        .projects-title {
            margin: 6px 0 20px 0;
            // text-align: "center";
            // font-weight: 100;
            // font-size: 54px;
            // line-height: 1.4;
            // letter-spacing: 0.8px;

            // @media screen and (max-width: 1440px) {
            //     font-size: 42px;
            // }
        }
    }

    .projects-main-inner {
        width: 100%;
        max-width: 1280px;
        padding: 0 11rem;
        // padding-left: 11rem; // This is Fix
        // padding-right: 11rem;
        margin: 0 auto;
        box-sizing: border-box;
        @media screen and (max-width: 1024px) {
            margin: 0 0;
            padding: 0 0;
            // max-width: 100vw;
        }

        .projects-container {
            display: flex;
            // gap: 20px;
            // margin-left: 20px;
            @media screen and (max-width: 1024px) {
                width: 100vw;
                padding: 0 70px;
            }
            @media screen and (max-width: 860px) {
                padding: 0 60px;
            }
            @media screen and (max-width: 768px) {
                padding: 0 20px;
            }
            @media screen and (max-width: 600px) {
                padding: 0 10px 0 0;
            }
            // @media screen and (max-width: 528px) {
            //     padding: 0 12px;
            // }

            &::after {
                clear: both;
                content: "";
                display: block;
            }

            .project {
                width: calc(100% / 3 - 10px);
                float: left;
                height: 450px;
                position: relative;
                margin-right: 15px;
                transition: margin-right 0.2s ease-in-out;
                @media screen and (max-width: 1440px) {
                    height: 420px;
                }
                @media screen and (max-width: 1110px) {
                    height: 390px;
                }
                @media screen and (max-width: 1024px) {
                    width: 100vw;
                    height: 360px;
                    margin-right: 8px;
                }
                @media screen and (max-width:768px) {
                    height: 315px;
                }
                @media screen and (max-width: 566px) {
                    margin-right: 6px;
                }
                a {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;

                    .project-name {
                        color: #fff;
                        text-shadow: 2px 2px 10px #00000030;
                        position: absolute;
                        right: 20%;
                        z-index: 2;
                        text-align: left;
                        margin: 0 0 5px;
                        bottom: 3%;
                        left: 11%;
                        transition: transform 0.3s ease, opacity 0.3s ease;
                        
                        // font-size: 15px;
                        // line-height: 30px;
                        // font-weight: 600;
                        // letter-spacing: 2px;

                        &::before {
                            content: '';
                            display: block;
                            height: 1px;
                            width: 100px;
                            background-color: #fff;
                            margin: 5px 0 0;
                            position: relative;
                            left: 0;
                            top: -10px;
                            transition: width 0.3s ease;
                            @media screen and (max-width:768px) {
                                width: 90px;
                            }
                        }
                    }

                    .project-bg {
                        width: 100%;
                        position: absolute;
                        right: 0;
                        height: 100%;
                        z-index: 1;
                        background-color: transparent;
                        overflow: hidden;
                        background-size: 95%;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin: auto;
                        transition: all 0.4s ease;
                        // background-size 0.3s ease
                    }

                    .project-bg-change {
                        content: "";
                        position: absolute;
                        width: 100%; //98
                        height: 100%;
                        transform: translateX(-105%);
                        background-color: #333107;
                        background-size: cover;
                        transition: all 0.3s ease;
                    }
                    // #project-bg-1 {
                    //     background-image: url('/assets/home-projects/projects-auro_portrait.jpg')
                    // }
            
                    // #project-bg-2 {
                    //     background-image: url('/assets/home-projects/projects-hover-2.jpg')
                    // }
            
                    // #project-bg-3 {
                    //     background-image: url('/assets/home-projects/projects-hover-3.jpg')
                    // }
            
                    #project-bg-1C {
                        background-image: url('/assets/ongoing-projects/aura_morn_portrait.jpg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: left;
                    }
            
                    #project-bg-2C {
                        background-image: url('/assets/ongoing-projects/sara_arcade_portrait.jpg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
            
                    #project-bg-3C {
                        background-image: url('/assets/ongoing-projects/simha_portrait.jpg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                }

                &:nth-child(1) a .project-bg-change {
                    background-position: left center;
                    // background-position: left center;
                }

                &:nth-child(2) a .project-bg-change {
                    background-position: 50% center;
                    // background-position: 50% center;
                }

                &:nth-child(3) a .project-bg-change {
                    background-position: right center;
                }
            }

            &:hover {
                .project {
                    margin-right: 8px;
                }
                .project a {
                    .project-name {
                        opacity: .3;
                        transform: translateX(10px);

                        @media screen and (max-width: 1024px) {
                            opacity: 1;
                            transform: translateX(0px);
                        }
                    }

                    .project-bg {
                        width: 100%;
                        background-size: 80%;

                        @media screen and (max-width: 1024px) {
                            background-size: 80%;
                        }
                    }

                    .project-bg-change {
                        transform: translateX(0);
                        
                        @media screen and (max-width: 1024px) {
                            transform: translateX(-105%);
                        }
                    }
                }

                .project a:hover {
                    .project-name {
                        opacity: 1;
                        transform: translateX(0px);

                        &:before {
                            width: 60%;

                            @media screen and (max-width: 1024px) {
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}